PS_20174392719_1491204439457_log.csv
flagged_transactions_report.csv
OS/Lab4.docx

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual Environments
venv/
env/

# Large Data (Safety Net)
*.csv
*.zip
*.h5
*.mp4